*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    width: 50%;
    height: auto;
    margin: 150px auto;
    background-color: rgba(184, 43, 43, 0.308);
}


header{

    background-color:  rgba(158, 54, 54, 0.808);
    padding: 20px;
 
}

#alert{

    background-color: red;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-weight: bolder;
    display: none;
  
}

main{
    background-color: rgba(41, 1, 1, 0.705);
    padding: 15px;
    color: white;
    font-weight: bold;
}

#tareas{

    margin-top: 20px;
}

#tareas article{
    padding: 10px;
    margin: 5px 0px;
    position: relative;
}

#tareas article #btn-eliminar{

    position: absolute;
    right: 20px;
    bottom: 10px;
    border-radius: 8%;
}

#tareas .urgente{

    background-color: red;
}

#tareas .diaria{

    background-color:blue;
}

#tareas .optativo{

    background-color:green;
}


#btn-eliminar:hover{

background-color: black;
color:white;

}


#samantha{
  margin: 15px 0px 0px 25px;
}



