/* ---------------------------GLOBAL----------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ---------------------------SECCIONES----------------------------------------------- */

body{

    width: 50%;
    height: auto;
    margin: 150px auto;
    background-color: rgba(184, 43, 43, 0.308);

    
}


header{

    background-color:  rgba(158, 54, 54, 0.808);
  
    padding: 20px;
 
}

main{
    background-color: rgba(41, 1, 1, 0.705);
    padding: 15px;
    color: white;
    font-weight: bold;
}

input{

    padding: 4px;
}

select{

    padding: 4px;
}

/* ---------------------------ALERT----------------------------------------------- */

#alert{

    background-color: red;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-weight: bolder;
    display: none;
  
}

/* -------------------------------------------------------------------------- */

#tareas{

    margin-top: 20px;
}

#tareas article{
    padding: 10px;
    margin: 5px 0px;
    position: relative;
}

/* ---------------------------BOTONES----------------------------------------------- */

#tareas article #btn-eliminar{

    position: absolute;
    right: 20px;
    bottom: 10px;
}

#btn-eliminar:hover{

    background-color: black;
    color: burlywood;
    
}

button{

    background-color: burlywood;
    color: black;
    padding: 3px;
}

/* ---------------------------PRIORIDADES----------------------------------------------- */

#tareas .urgente{

    background-color: rgb(209, 28, 28);
}

#tareas .diaria{

    background-color:rgb(35, 35, 209);
}

#tareas .optativo{

    background-color:rgb(18, 131, 18);
}

/* ---------------------------FOOTER----------------------------------------------- */

#samantha{
  margin: 15px 0px 0px 25px;
 
}



